doctype html
html
    head
        meta(charset="utf-8")
        title Home | gifit.io
        // Material Design Bootstrap
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css")
        // Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
        // Bootstrap Core CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css")
        // Custom CSS
        link(rel="stylesheet" href="lib/css/global.css")
    body.dark-mode
        script.
            function toggleDark() {
                document.body.classList.toggle("dark-mode");
                document.getElementById("switcher").classList.toggle("fa-moon");
                document.getElementById("switcher").classList.toggle("fa-sun");
            }
        //- Uncomment to activate construction banner
        //- .jumbotron
            h1 This site is currently under construction :)
        .container
            //- Header and such
            .row(style="margin-top:55px;")
                .col
                    h1 G. Michael Fitzgerald
                    button#toggle.btn(onClick="toggleDark()")
                        i#switcher.fas.fa-sun(aria-hidden="true")
                    p Creative and motivated Computer Scientist focused on constructing efficient, effective, and long-lasting solutions.
            //- Personal Info
            .row
                .col
                    .row
                        .col
                            h5 Contact Info
                    .row
                        .col
                            .form-inline.spec(title="Location")
                                i.fa.fa-map-marker(aria-hidden="true")
                                p.vertical Charlottesville, Virginia
                            .form-inline.spec(title="Phone")
                                i.fa.fa-mobile(aria-hidden="true")
                                p.vertical (434)-981-4890
                        .col
                            .form-inline.spec(title="E-Mail")
                                i.fa.fa-envelope(aria-hidden="true")
                                a.vertical(href="mailto:michael@gifit.io" target="_blank") michael@gifit.io
                            .form-inline.spec(title="Website")
                                i.fa.fa-globe(aria-hidden="true")
                                a.vertical(href="https://gifit.io" target="_blank") https://gifit.io
                        .col
                            .form-inline.spec(title="GitHub Accounts")
                                i.fab.fa-github(aria-hidden="true")
                                a.vertical(href="https://github.com/tic/" target="_blank") tic
                            .form-inline.spec(title="LinkedIn")
                                i.fab.fa-linkedin(aria-hidden="true")
                                a.vertical(href="https://www.linkedin.com/in/gmfitzgerald" target="_blank") G. Michael Fitzgerald
            //- Main content
            .row
                //- Big info (education, employment, projects)
                .col-md-8
                    vr
                    //- Projects
                    .row
                        .col
                            hr
                            span.section-title(name="projects") Projects
                            //- Coursanity
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://github.com/UVAMobileDev/UVAScheduler-react" target="_blank") Coursanity
                                    span Scheduling App for UVA Students
                                    p
                                        | A react-native mobile application designed to aid in the viewing of UVA courses. Designed by myself and with 
                                        a(href="https://jash.io/" target="_blank") Jason Ashley
                                        |. The main functionalities of the app run through our Nodejs backend, which is hosted on Heroku and uses Mongo Atlas to store course/user data. The backend was written by us and two interns that I oversaw during the Summer of 2019, and has a 
                                        a(href="https://scheduler.gifit.io" target="_blank") corresponding web front end
                                        |, which is not as updated as our react-native app.
                            //- LASE
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://github.com/UVAMobileDev/lase" target="_blank") LASE Lab Site
                                    span Database Viewer+Editor
                                    p
                                        | Application designed in react-native that extends support to web via the Expo web bundler. Will serve as the replacement website for the folks at 
                                        a(href="https://lase.mer.utexas.edu/" target="_blank") LASE
                                        | , a graduate/post-grad research lab at UT Austin. In addition to offering the static contents linked previously, the application also serves as the interaction between researchers and their SQL database, allowing for easy display, filtering, and creation of data. Utilizes a custom API written in AWS' Lambda to interact with RDS.
                            //- Botarino
                            .row.resume-block
                                .col
                                    span
                                        a(href="" target="_blank") Botarino
                                    span Advanced Discord Bot
                                    p 
                                        | Written with Node using the discord.js library, Botarino is an advanced chatbot which utilizes many JS features new to ES6. Based on a deeply OO configuration, Botarino is capable of hot-reloads triggered by chat commands, multiple layers of fault tolerance, and connection to MongoDB for logging, analytics, and stat tracking.
                    //- Experience
                    .row
                        .col
                            hr
                            span.section-title(name="experience") Experience
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://devhub.virginia.edu/" target="_blank") UVA Development Hub
                                    span Developer
                                    p August 2017 - Present
                                    p Worked on numerous projects, including development and maintenance of the Devhub API, UVA Scheduler, Cavalier Online Experiences, and others. Oversaw the Internship Placement Program at Devhub, consisting of managing interns each semester.
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://rpl.mae.virginia.edu/" target="_blank") UVA Mechanical &amp; Aerospace Engineering Rapid Prototyping Lab
                                    span Lab Assistant
                                    p September 2018 - Present
                                    p Printed and designed 3D models for clients. Cleaned and provided basic upkeep on Stratasys FDM and PolyJet machines. Occasionaly provided CAD assistance and to introductory engineering students and graded CAD assignments for Dwight Dart, the head of the lab.
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://asmglobal.com/" target="_blank") ASM Global
                                    span Operations Changeover Crew, John Paul Jones Arena
                                    p January 2020 - Present
                                    p Worked to convert the Arena from one function to another (i.e., basketball to concerts, theater, meetings, and other types of functions). Activities include both interior (tables, chairs, special equipment, etc) and exterior (road signs, traffic cones, etc).
                    //- Education
                    .row
                        .col
                            hr
                            span.section-title(name="education") Education
                            //- Undergrad
                            .row.resume-block
                                .col
                                    span University of Virginia
                                    span BS: Computer Science
                                    p School of Engineering and Applied Science
                                    p August 2017 - May 2021
                                    p Overall GPA: 3.856 | CS GPA: 3.918
                            //- Grad
                            .row
                                .col
                //- Small info (skills, interests, awards, etc)
                .col-md-4
                    //- Technical Skills
                    hr
                    .row
                        .col
                            span Technical Skills
                            ul.detailed-bullet-scape
                                li Languages
                                    span JS
                                    span Python
                                    span C/C++/C#
                                    span Java
                                    span PHP
                                    span x86
                                    span HTML/CSS
                                    span SQL
                                    span VB
                                li Frameworks + Libraries
                                    span Node
                                    span Django
                                    span React
                                    span jQuery
                                    span MD/Bootstrap
                                li Cloud Services
                                    span MongoDB
                                    span Firebase (ltd)
                                    span AWS API Gateway
                                    span AWS Lambda
                                    span RDS
                                li Environments + Software
                                    span Linux/Unix
                                    span Windows
                                    span VirtualBox
                                    span Docker
                                    span Atom
                                    span Eclipse
                                    span VS
                                    span JUnit
                                    span Postman
                                    span Swagger/OpenAPI
                    //- Soft Skills
                    .row
                        .col
                            span Soft Skills
                            ul.detailed-bullet-scape
                                li 
                                    span Leadership
                                li
                                    span Problem solving
                                li
                                    span Ability to work under pressure
                                li
                                    span Internally motivated
                    //- Additional Projects & Experience
                    hr
                    .row
                        .col
                            span Additional Projects &amp; Experience
                            ul.detailed-bullet-scape
                                li Realitarium
                                    span Unity3D project aimed at recreating a planetarium in virtual reality. 
                                        a(href="https://github.com/tic/Realitarium/" target="_blank") repo
                                li Teaching Assistant
                                    span Mobile App Development (Spring '20). 
                                        a(href="https://danielggraham.com/mobile-development-in-react/" target="_blank") course
                                li Cavalier Online Experiences
                                    span (Mar '19 - Jan '20) 
                                        b &nbsp;
                                        | Worked to bring outdated system back to life and overhaul the 
                                        a(href="https://github.com/UVAMobileDev/CONEX" target="_blank") codebase
                                        | .
                                li Scorigami
                                    span Sports score tracker
                                    span
                                        a(href="https://nflscorigami.herokuapp.com/" target="_blank") hosted 
                                        | on Heroku
                    //- Interests
                    hr
                    .row
                        .col
                            span Interests
                            ul.detailed-bullet-scape
                                li Hobbies
                                    span Desktop computer enthusiast
                                    span electronic sports
                                    span tinkering
                                li Other
                                    span Robotics
                                    span networks
                                    span big data
                                    span machine learning
                    //- Awards
                    hr
                    .row
                        .col
                            span Awards, Recognitions, Certifications
                            ul.detailed-bullet-scape
                                li Scouting
                                    span Eagle Scout
                                    span Bronze Palm
                                li UVA
                                    span Dean's List
                                li Other
                                    span Solidworks Certified (CSWA/CSWP)
            //- Relevant Coursework
            hr(style="margin-top:30px")
            .row#coursework
                .col
                    .row
                        h4 Relevant coursework
                        p The majority of these courses do not allow students to make their solutions public after the course has ended. Links to course content will reveal whatever is permitted.
                    .row.course
                        .col
                            a.btn.btn-purple.github(href="https://github.com/uva-cs/pdr/" target="_blank")
                                i.fab.fa-github(aria-hidden="true")
                            span Program and Data Representation
                            span Fall 2018
                            span 4.0
                    .row.course
                        .col
                            a.btn.btn-purple.github(href="https://github.com/gmf5de/CS-4102-Homeworks" target="_blank")
                                i.fab.fa-github(aria-hidden="true")
                            span Algorithms
                            span Spring 2019
                            span 4.0
                    .row.course
                        .col
                            a.btn.btn-purple.github(href="https://github.com/aaronbloomfield/ics" target="_blank")
                                i.fab.fa-github(aria-hidden="true")
                            span Intro Cyber Security
                            span Spring 2019
                            span 4.0
                    .row.course
                        .col
                            a.btn.btn-purple.github(href="https://github.com/gmf5de/CS-3240-Housing-Locator" target="_blank")
                                i.fab.fa-github(aria-hidden="true")
                            span Adv. Software Development
                            span Spring 2019
                            span 4.0
                    .row.course
                        .col
                            div
                            span Computer Architecture
                            span Spring 2019
                            span 3.7
                    .row.course
                        .col
                            div
                            span Operating Systems
                            span Fall 2019
                            span 4.0
                    .row.course
                        .col
                            a.btn.btn-purple.github(href="https://github.com/thomaspinckney3/cs4501/" target="_blank")
                                i.fab.fa-github(aria-hidden="true")
                            span Internet Scalable Applications
                            span Fall 2019
                            span 3.7
                    .row.course
                        .col
                            div
                            span Computer Networks
                            span Spring 2020
                            span 4.0
                    .row.course
                        .col
                            a.btn.btn-purple.github(href="https://github.com/tic/Realitarium" target="_blank")
                                i.fab.fa-github(aria-hidden="true")
                            span Virtual Reality Independent Study
                            span Spring 2020
                            span 4.0
                    .row.course
                        .col
                            div
                            span IOT Security Research
                            span Fall 2020 | Capstone
                            span
