doctype html
html
    head
        // Material Design Bootstrap
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css")
        // Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
        // Bootstrap Core CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css")
        // Custom CSS
        link(rel="stylesheet" href="lib/css/global.css")
    body
        .jumbotron
            h1 This site is currently under construction :)
        .container
            // Header and such
            .row
                .col
                    h1 G. Michael Fitzgerald
                    p Creative and motivated Computer Scientist focused on constructing efficient, effective, and long-lasting solutions.
            // Personal Info
            .row
                .col
                    h5 Contact Info
                    .form-inline.spec
                        i.fa.fa-map-marker(aria-hidden="true")
                        p.vertical Charlottesville, Virginia
                    .form-inline.spec
                        i.fa.fa-mobile(aria-hidden="true")
                        p.vertical (434)-981-4890
                    .form-inline.spec
                        i.fa.fa-envelope(aria-hidden="true")
                        a.vertical(href="mailto:michael@gifit.io" target="_blank") michael@gifit.io
                    .form-inline.spec
                        i.fa.fa-globe(aria-hidden="true")
                        a.vertical(href="https://gifit.io" target="_blank") https://gifit.io
                    .form-inline.spec
                        i.fa.fa-github(aria-hidden="true")
                        a.vertical(href="https://github.com/spudguy77/" target="_blank") spudguy77
                    .form-inline.spec
                        i.fa.fa-linkedin(aria-hidden="true")
                        a.vertical(href="https://www.linkedin.com/in/gmfitzgerald" target="_blank") G. Michael Fitzgerald
            // Main content
            .row
                // Big info (education, employment, projects)
                .col-md-8
                    // Projects
                    .row
                        .col
                            // UVAScheduler
                            .row
                                .col
                                    span
                                        a(href="https://uva-scheduler.herokuapp.com/" target="_blank") UVAScheduler
                                    span Scheduling Webapp for UVA Students
                                    p In the summer of 2019, I developed a web application in conjunction with interns I oversaw. The application’s back end was programmed mainly by myself and a colleague at the UVA Development Hub.
                            // CONEX
                            .row
                                .col
                                    span Cavalier Online Experiences (CONEX)
                                    span Mathematics Bridge Program
                                    p Worked closely with Prof. Jim Rolf at UVA to maintain and overhaul a summer bridge program which saw the enrollment of students who wished to get ahead in math. System uses Nodejs, MongoDB, Heroku, and was deployed as an LTI onto the Canvas LMS at the Curry School of Education.
                    // Experience
                    .row
                        .col
                    // Education
                    .row
                        .col
                            // Undergrad
                            .row
                                .col
                                    span University of Virginia School of Engineering and Applied Science
                                    span Bachelor of Science in Computer Science
                                    p August 2017 - May 2021
                                    p Overall GPA: 3.84 | CS GPA: 3.96
                                    p Relevant coursework: Program and Data Representation (4.0), Discrete Mathematics (4.0), Theory of Computation (4.0), Algorithms (4.0), Intro Cyber Security (4.0), Adv. Software Development (4.0), Computer Architecture (3.7).
                            // Grad
                            .row
                                .col
                // Small info (skills, interests, awards, etc)
                .col-md-4
                    // Technical Skills
                    .row
                        .col
                    // Other Skills
                    .row
                        .col
                    // Interests
                    .row
                        .col
                    // Awards
                    .row
                        .col
