doctype html
html
    head
        title Home | gifit.io
        // Material Design Bootstrap
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css")
        // Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
        // Bootstrap Core CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css")
        // Custom CSS
        link(rel="stylesheet" href="lib/css/global.css")
    body
        //- Uncomment to activate construction banner
        //- .jumbotron
            h1 This site is currently under construction :)
        .container
            //- Header and such
            .row(style="margin-top:55px;")
                .col
                    h1 G. Michael Fitzgerald
                    p Creative and motivated Computer Scientist focused on constructing efficient, effective, and long-lasting solutions.
            //- Personal Info
            .row
                .col
                    .row
                        .col
                            h5 Contact Info
                    .row
                        .col
                            .form-inline.spec(title="Location")
                                i.fa.fa-map-marker(aria-hidden="true")
                                p.vertical Charlottesville, Virginia
                            .form-inline.spec(title="Phone")
                                i.fa.fa-mobile(aria-hidden="true")
                                p.vertical (434)-981-4890
                        .col
                            .form-inline.spec(title="E-Mail")
                                i.fa.fa-envelope(aria-hidden="true")
                                a.vertical(href="mailto:michael@gifit.io" target="_blank") michael@gifit.io
                            .form-inline.spec(title="Website")
                                i.fa.fa-globe(aria-hidden="true")
                                a.vertical(href="https://gifit.io" target="_blank") https://gifit.io
                        .col
                            .form-inline.spec(title="GitHub Accounts")
                                i.fab.fa-github(aria-hidden="true")
                                a.vertical(href="https://github.com/tic/" target="_blank") tic
                            .form-inline.spec(title="LinkedIn")
                                i.fab.fa-linkedin(aria-hidden="true")
                                a.vertical(href="https://www.linkedin.com/in/gmfitzgerald" target="_blank") G. Michael Fitzgerald
            //- Main content
            .row
                //- Big info (education, employment, projects)
                .col-md-8
                    vr
                    //- Projects
                    .row
                        .col
                            hr
                            span.section-title(name="projects") Projects
                            //- UVAScheduler
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://scheduler.gifit.io/" target="_blank") UVAScheduler
                                    span Scheduling Webapp for UVA Students
                                    p In the summer of 2019, I developed a web application in conjunction with interns I oversaw. The application’s back end was programmed mainly by myself and a colleague at the UVA Development Hub.
                            //- CONEX
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://devhub.virginia.edu/conex/" target="_blank") Cavalier Online Experiences (CONEX)
                                    span Mathematics Bridge Program
                                    p Worked closely with Prof. Jim Rolf at UVA to maintain and overhaul a summer bridge program which saw the enrollment of students who wished to get ahead in math. System uses Nodejs, MongoDB, Heroku, and was deployed as an LTI onto the Canvas LMS at the Curry School of Education.
                            //- Scorigami
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://scorigami.gifit.io" target="_blank") Scorigami
                                    span Sports Score Calculator
                                    p Invented by sports writer Jon Bois, Scorigami is the art of watching for games which end in a score that has never happened before in that sport. The webapp I made for this currently tracks NFL Scorigamis and displays a grid of Scores which have never happened. Written in nodejs, hosted on Heroku, and uses MongoDB to store score data retrieved from &nbsp;
                                        a(href="https://pro-football-reference.com" target="_blank") pro-football-reference
                                        | &nbsp; and others.
                    //- Experience
                    .row
                        .col
                            hr
                            span.section-title(name="experience") Experience
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://devhub.virginia.edu/" target="_blank") UVA Development Hub
                                    span Developer
                                    p August 2017 - Present
                                    p Worked on numerous projects, including development and maintenance of the Devhub API, UVA Scheduler, Cavalier Online Experiences, and others. Oversaw the Internship Placement Program at Devhub, consisting of managing interns each semester.
                            .row.resume-block
                                .col
                                    span
                                        a(href="https://rpl.mae.virginia.edu/" target="_blank") UVA Mechanical &amp; Aerospace Engineering Rapid Prototyping Lab
                                    span Lab Assistant
                                    p September 2018 - Present
                                    p Printed and designed 3D models for clients. Cleaned and provided basic upkeep on Stratasys FDM and PolyJet machines. Occasionaly provided CAD assistance and to introductory engineering students and graded CAD assignments for Dwight Dart, the head of the lab.
                    //- Education
                    .row
                        .col
                            hr
                            span.section-title(name="education") Education
                            //- Undergrad
                            .row.resume-block
                                .col
                                    span University of Virginia School of Engineering and Applied Science
                                    span BS: Computer Science
                                    p August 2017 - May 2021
                                    p Overall GPA: 3.84 | CS GPA: 3.96
                                    p The majority of these courses do not allow students to make their solutions public after the course has ended. Some GitHub links will go to the course's repo where the assignments live (unsolved).
                                    p Relevant coursework:
                                    .row.course-table
                                        //- All are md-4 to allow for automatic stacking and wrapping
                                        .col-md-4
                                            span Program and Data Representation
                                            span Fall 2018
                                            span 4.0
                                            br
                                            a.btn.btn-purple(href="https://github.com/uva-cs/pdr/" target="_blank")
                                                i.fab.fa-github(aria-hidden="true")
                                            div.sbg
                                        .col-md-4
                                            span Discrete Mathematics
                                            span Spring 2018
                                            span 4.0
                                            div.sbg
                                        .col-md-4
                                            span Theory of Computation
                                            span Fall 2018
                                            span 4.0
                                            div.sbg
                                        .col-md-4
                                            span Algorithms
                                            span Spring 2019
                                            span 4.0
                                            br
                                            a.btn.btn-purple(href="https://github.com/gmf5de/CS-4102-Homeworks" target="_blank")
                                                i.fab.fa-github(aria-hidden="true")
                                            div.sbg
                                        .col-md-4
                                            span Intro Cyber Security
                                            span Spring 2019
                                            span 4.0
                                            br
                                            a.btn.btn-purple(href="https://github.com/aaronbloomfield/ics" target="_blank")
                                                i.fab.fa-github(aria-hidden="true")
                                            div.sbg
                                        .col-md-4
                                            span Adv. Software Development
                                            span Spring 2019
                                            span 4.0
                                            br
                                            a.btn.btn-purple(href="https://github.com/gmf5de/CS-3240-Housing-Locator" target="_blank")
                                                i.fab.fa-github(aria-hidden="true")
                                            div.sbg
                                        .col-md-4
                                            span Computer Architecture
                                            span Spring 2019
                                            span 3.7
                                            div.sbg
                                        .col-md-4
                                            span Operating Systems
                                            span Fall 2019
                                            span TBD
                                            div.sbg
                                        .col-md-4
                                            span Internet Scalable Applications
                                            span Fall 2019
                                            span TBD
                                            br
                                            a.btn.btn-purple(href="https://github.com/thomaspinckney3/cs4501/" target="_blank")
                                                i.fab.fa-github(aria-hidden="true")
                                            div.sbg
                            //- Grad
                            .row
                                .col
                //- Small info (skills, interests, awards, etc)
                .col-md-4
                    //- Technical Skills
                    hr
                    .row
                        .col
                            span Technical Skills
                            ul.detailed-bullet-scape
                                li Languages
                                    span JS
                                    span Python
                                    span Java
                                    span HTML/CSS
                                    span C/C++
                                    span x86
                                    span PHP
                                li Frameworks + Libraries
                                    span Nodejs
                                    span Django
                                    span React
                                    span jQuery
                                    span MD/Bootstrap
                                li Cloud Services
                                    span MongoDB
                                    span AWS
                                    span Firebase
                                    span Docker
                                li Environments + Software
                                    span Linux
                                    span VirtualBox
                                    span Atom
                                    span Eclipse
                                    span JUnit
                                    span Emacs
                    //- Other Skills
                    .row
                        .col
                            span Additional Skills
                            ul.detailed-bullet-scape
                                li Leadership
                                li Problem solving
                                li Ability to work under pressure
                    //- Interests
                    .row
                        .col
                            span Interests
                            ul.detailed-bullet-scape
                                li Hobbies
                                    span Desktop computer enthusiast
                                    span Electronic sports
                                li Other
                                    span Robotics
                                    span Networks, big data
                                    span Machine Learning
                    //- Awards
                    .row
                        .col
                            span Awards, Recognitions
                            ul.detailed-bullet-scape
                                li Scouting
                                    span Eagle Scout
                                    span Bronze Palm
                                li UVA
                                    span Dean's List
                                li Other
                                    span Solidworks Professionally Certified (CSWP)
